# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

#Dataset
Processed Dataset/

# Ignore the virtual environment (CRITICAL)
venv/
env/

# Ignore large datasets and models
*.zip
*.keras
*.h5

# Ignore Python cache
__pycache__/
*.pyc