@import "tailwindcss";

@theme {
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
}

body {
  background-color: var(--color-gray-900);
  color: white;
}